* {margin:0;padding:0;box-sizing: border-box;}
body,html { width:100%;height:100%; }
a { text-decoration: none;color:#1AE; }
li {list-style: none;line-height: 2}
.colorRed {color:#f33;}
.wrap {border:1px solid #ddd;padding-left: 20px}
.app {position: relative;width:100%;height:100%;}

/*工具类*/
.align-left{text-align: left;}
.align-center{text-align: center;}
.align-right{text-align: right;}

.fixed {position: fixed;}
.fixed-full {position: fixed;width:100%;height:100%;}

.ma-t-5{margin-top: 5px;}

.line-30{line-height: 30px;}

/*颜色相关*/
.font{font-size: 14px;cursor: pointer;}
.font-primary{color:#0e71d2;}
.font-info{color:#303133;}
.font-success{color:#67C23A;}
.font-warning{color:#E6A23C;}
.font-danger{color:#F56C6C;}

/*按钮相关*/
.btn{padding:5px 10px;border-radius: 5px;background-color: #ddd;color:#fff;cursor: pointer;}
.btn-mini{padding:3px;}
.btn-blue{background-color: #0e71d2}
.btn-success{background-color: #67C23A}
.btn-warning{background-color: #E6A23C}
.btn-danger{background-color: #F56C6C}

/*图标相关*/
.icon {display: inline-block;width:20px;height: 20px;background-size: 100% 100%;background-repeat: no-repeat;background-position: center center;}
.icon-delete{background-image: url(./image/close.png);}

/*遮罩*/
.mask{position: fixed;width:100%;height:100%;z-index: 999;left:0;top:0;}
.mask-bg{position: absolute;width:100%;height:100%;left:0;top:0;z-index: 1000;background-color: rgba(0,0,0,.6);}

/*弹框样式*/
  /*消息提示*/
  .sm-message {
    position: fixed;
    top:0px;
    left:50%;
    z-index: 9999;
    -webkit-transform:translate3d(-50%,0,0);
            transform:translate3d(-50%,0,0);
    -webkit-transition:all .3s linear;
            transition:all .3s linear;
    min-width: 250px;
    padding:5px 20px;
    color:#fff;
    border-radius: 5px;
    line-height: 25px;
    opacity: 0;
  }
  .sm-message.sm-message-info{background-color:#303133 ;}
  .sm-message.sm-message-primary{background-color:#409EFF ;}
  .sm-message.sm-message-success{background-color:#67C23A;}
  .sm-message.sm-message-danger{background-color:#F56C6C;}
  .sm-message.sm-message-warning{background-color: #E6A23C;}

  .sm-message .icon-delete{position: absolute;right:5px;top:7px;}
  .sm-message.active{top:20px;opacity: 1;}

  /*loading*/
  .loading-box {position: fixed;left:0;top:0;width:100%;height:100%;opacity:.6;z-index: 998;background-color: #000;}
  .loading-content{position: absolute;left:50%;top:50%;-webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);text-align: center;min-width: 200px;}
  .loading-animate{width:50px;height:50px;background-image: url('./image/loading.gif');background-size: 100% 100%;background-repeat: no-repeat;display: inline-block;}
  .loading-text{color:#fff;line-height: 2;font-size:14px;text-align: center;}


  /*tooltip*/
  .tooltip {position:relative;}
  .tooltip .tip-box{position: absolute;z-index: 1000;border-radius: 5px;padding:5px;background-color: #444341;color:#fff;min-width: 100px;max-width: 300px;width:max-content;}
  .tooltip .tip-box.tip-left {top:50%;left:0;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);}
  .tooltip .tip-box.tip-top {left:50%;top:0;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);}
  .tooltip .tip-box.tip-right {top:50%;right:0;-webkit-transform:translate3d(0,-50%,0);transform:translate3d(0,-50%,0);}
  .tooltip .tip-box.tip-bottom {left:50%;bottom:0;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);}

  .tooltip .tip-box .tip-arrow {position: absolute;width:0;height:0;border:5px solid transparent;}
  .tooltip .tip-box.tip-left .tip-arrow{border-left-color: #444341;top:50%;right:0;margin-top: -5px;margin-right: -10px;}
  .tooltip .tip-box.tip-top .tip-arrow{border-top-color: #444341;left:50%;bottom:0;margin-left: -5px;margin-bottom: -10px;}
  .tooltip .tip-box.tip-right .tip-arrow {border-right-color: #444341;top:50%;left:0;margin-top: -5px;margin-left: -10px;}
  .tooltip .tip-box.tip-bottom .tip-arrow{border-bottom-color: #444341;top:0;left:50%;margin-top: -10px;margin-left: -10px;}

  /*confirm*/
  .confirm {position: absolute;left:50%;top:50px;z-index: 1001;-webkit-transform:translate3d(-50%,0,0);transform:translate3d(-50%,0,0);background-color: #fff;border-radius: 5px;min-width: 400px;}
  .confirm-head {height:40px;border-bottom: 1px solid #ddd;padding:0 10px;}
  .confirm-head::after {display: block;width:0;clear:both;content:"";}
  .confirm-head .confirm-title {line-height: 40px;font-size:14px;margin-right: 20px;}
  .confirm-head .confirm-close{float:right;margin-top: 10px;}
  .confirm-content {padding:10px 20px;}
  .confirm-foot {height:50px;border-top: 1px solid #ddd;padding:0 20px;padding-top: 15px;}
  .confirm-foot .btn {margin-left:20px;}


/*加载更多*/
.scroll {position: absolute;width:100%;height:100%;left:0;top:0;z-index: 999;overflow: auto;}
.scroll-loading,.scroll-complete {text-align: center; padding:5px;font-size: 14px;color: #656565;line-height: 20px;}

/*走马灯效果*/
.swiper{position: relative;overflow: hidden;background-color:  #656565;}
.indicator{position: absolute;right: 20px; bottom: 20px; width: 40px;height: 40px; line-height: 40px; border-radius: 50%;text-align: center;
    background-color: rgba(0,0,0,.5); color: #fff;font-size: 14px;}
.swiper-item{position: absolute;left:0;top:0;width: 100%;height: 100%;}


/*滑动删除*/
.swiper-out {overflow:hidden;}
.swiper-out-item {position: relative;width:100%;border-bottom: 1px solid #ddd;}
.swiper-out-item .swiper-out-item-btns {position: absolute;right:0;top:0;height:100%;transform: translate3d(100%,0,0);-webkit-transform: translate3d(100%,0,0);font-size: 0;}
.swiper-out-item .swiper-out-item-btns .swiper-out-item-btn {display: inline-block;width:100px;height:100%;color:#fff;background-color:#F56C6C;text-align: center;font-size: 14px;border-left: 1px solid #ddd;}
