<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue插件</title>
  <link rel="stylesheet" href="./common.css">
</head>
<body>
  <div id="wrap" class="wrap">
    <input v-focus/>
    <div class="line-30">{{name|placeholder}}</div>
    <span class="btn btn-warning" @click="handleGlobal">全局方法</span>
    <span class="btn btn-blue" @click="showMsg">显示message</span>
    <span class="btn btn-danger" @click="showLoading">loading提示</span>
  </div>
  <script type="text/javascript" src="../vue.min.js"></script>
  <script src="./dialog/index.js"></script>
  <script type="text/javascript">
    var Dialog = {};
    /**
     * 想做一个弹框插件，我们需要思考一下问题
     *   1、弹框结构：遮罩，弹框主体，按钮是否可配置，是否可关闭
     *   2、确定逻辑，取消逻辑，关闭逻辑
     *   3、弹框弹出后，页面滑动问题
     *   4、弹框主题（是否允许定义不同主题色）
     *   5、弹框的头部，内容区是否支持自定义
     *   6、页面布局是否灵活配置，如标题居中等
     *   7、我们还要关注常用的弹框种类：
     *     loading，提示框，弹框（消息提示，确认框，提交框），通知框，辅助说明框（文字提示，弹出框）
     */
    Dialog.install = function(Vue,options){
      //添加全局方法或属性
        Vue.username = "henyulee";
        Vue.sayHello = function(){
          vm.$message({
            message:"hello world!",
            type:"success"
          })
        }

      //添加全局资源，如：指令/过滤器/过渡等
        Vue.directive('focus', {
          inserted:function(el,binding){
            var ele = el.tagName === 'INPUT' ? el : el.querySelector('input')
            ele.focus()
          }
        })
        Vue.filter('placeholder', function(value) {
            return (value===""||value === null)?"---":value
        });
      //通过全局 mixin 方法添加一些组件选项，如: vue-router
        Vue.mixin({
          created: function () {
            console.log("组件已经被注入……")
          }
        })
      //添加 Vue 实例方法，通过把它们添加到 Vue.prototype 上实现
        // 1、消息提示
        Vue.prototype.$message = function(config){
          if(!this.SMmessag){//如果没有则创建
            var Profile = Vue.extend(message_vue);
            var message = new Profile().$mount();
            Vue.prototype.SMmessag = message
            document.body.appendChild(message.$el)
          }
          this.SMmessag.setConfig(config)
        }
        // 2、loading 加载提示
        Vue.prototype.$loading = function(type,text){
          if(!this.SMloading){//如果没有则创建
            var Profile = Vue.extend(message_loading);
            var loading = new Profile().$mount();
            Vue.prototype.SMloading = loading
            document.body.appendChild(loading.$el)
          }
          if(type === 'show'|| type===undefined || type===""){
            this.SMloading.show(text)
          }else{
            this.SMloading.hide()
            this.SMloading = null
          }
          ['show','close'].forEach(function(type){
            Vue.prototype.$loading[type] = function (txt) {
              return Vue.prototype.$loading(type,txt)
            }
          })
        }
    }

    //引用vue插件
    Vue.use(Dialog)

    var vm = new Vue({
      el: '#wrap',
      data:{
        name:"LG"
      },
      methods:{
        showMsg:function(){
          var self = this
          this.$message({
            message:'<b class="font font-success">XLS攻击</b>',
            type:"danger",
            dangerouslyUseHTMLString:true
          })
        },
        handleGlobal:function(){
          console.log(Vue.username)
          Vue.sayHello()
        },
        showLoading:function(){
          var self = this
          this.$loading("show","架，又他妈装逼迟到了");
          setTimeout(function(){
            self.$loading.close()
          },3000)
        }
      }
    })
  </script>
</body>
</html>
