<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-do</title>
  <style>
    * {margin:0;padding:0;box-sizing: border-box;}
    body,html { width:100%;height:100%; }
    a { text-decoration: none;color:#1AE; }
    li {list-style: none;line-height: 2}
    .colorRed {color:#f33;}
    .wrap {width:900px;height:600px;margin:50px auto;border:1px solid #ddd;padding-left: 20px}
  </style>
</head>
<body>
  <div id="wrap" class="wrap"></div>
  <script type="text/javascript" src="../vue.min.js"></script>
  <script type="text/javascript">
    var Profile = Vue.extend({
      //template对应的标签最外层必须只有一个标签
      template: '<div>{{extendData}}<br/>{{propData}}</div>',
      data:function() {
        return {
          extendData:"我是extend的数据"
        }
      },
      props:['propData'],
      created:function(){
        console.log("我被创建了……")
      },
      mounted:function(){
        console.log("我被挂载了……")
      }
    })
    //创建 Profile 实例，并挂载到一个元素上。可以通过propsData传参.
    new Profile({propsData:{propData:"我是实际传入的数据。"}}).$mount('#wrap')
  </script>
</body>
</html>
